.top-container {
    display: flex;
}

.algorithm-form {
    display: flex;
}

.control-bar {
    display: flex;
    margin-left: auto;
}

.visualizer {
    display: flex;
    transform: scaleY(-1);
}

.data-bar {
    width: 10px;
    background-color: black;
}
